@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    overflow: hidden;
    top: 0;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    background: black;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    margin-right: 10px;
    margin-top: 10px;
  }

  .btn-1, .btn-2, .btn-3, .btn-4 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(0, 0, 0);
  }
  .btn-1:hover, .btn-2:hover, .btn-3:hover, .btn-4:hover {
    color: #ffffff;
    background: transparent;
     box-shadow:none;
  }
  .btn-1:before, .btn-2:before, .btn-3:before, .btn-4:before,
  .btn-1:after, .btn-2:after, .btn-3:after, .btn-4:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #ffffff;
    transition:400ms ease all;
  }
  .btn-1:after, .btn-2:after, .btn-3:after, .btn-4:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-1:hover:before, .btn-2:hover:before, .btn-3:hover:before, .btn-4:hover:before,
  .btn-1:hover:after, .btn-2:hover:after, .btn-3:hover:after, .btn-4:hover:after{
    width:100%;
    transition:800ms ease all;
  }


  header{
    margin-top: 100px;
    font-size: 25px;
    font-family: 'Bruno Ace SC', cursive;
  }

  .headDiv{
    border: solid 5px white;
    padding: 30px 30px;
    border-radius: 999px;
    transition: 0.5s;
  }

  .headDiv:hover{
    background-color: white;
    color: black;
  }

  /* .steps div{
    height: 300px;
    display: flex;
    flex-direction: column;
    border: solid 5px white;
  } */

  .step1, .step2, .step3, .step4, .step5, .step6{
    max-width: 400px;
    border: solid 5px white;
    padding: 40px 40px;
    border-radius: 50px;
    margin-bottom: 50px;
    transition: 0.3s;
    font-weight: 900;
  }

  .step1:hover, .step2:hover, .step3:hover, .step4:hover, .step5:hover, .step6:hover {
    background-color: white;
    color: black;
  }

  section{
    display: flex;
    width: 70%;
    margin-top: 200px ;
    flex-direction: column;
    /* align-items: center; */
  }
  
  
  .stepDiv{
    display: flex;
  }

  .stepDivAlt{
    display: flex;
    justify-content: end;
  }

  
.footer {
    background: #ffffff;
    color: #333;
}

.footer-container {
   width: 800px;
    margin: auto;
    padding: 40px;
    translate: 70px;
    margin-top: 40px;
}

.social-icons img {
    max-height: 50px;
    max-height: 50px;
    margin-right: 80px;
    transition: all 0.2s;
    border-radius: 999px;
    overflow: hidden;
}


.instagram:hover{
    /* background-color: #c722ca; */
    border-radius: 999px;
}

.github:hover{
    /* background-color: #454141; */
    border-radius: 999px;

}

.youtube:hover{
    /* background-color: rgb(217, 28, 28); */
    border-radius: 999px;
}

.twitter:hover{
    /* background-color: rgb(18, 174, 226); */
    border-radius: 999px;
}

.facebook:hover{
    /* background-color: rgb(81, 81, 250); */
    border-radius: 999px;
}


.social-icons img:hover{
    scale: 150%;
}


footer{
    border-top: solid 2px gray;
    width: 100%;
    margin-top: 50px;
}

.copyright{
    translate: 0 100px;
    font-size: larger;
    font-weight: 900;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.hovbtn, .hovbtnAlt{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hovbtn div, .hovbtnAlt div{
  height: 20px;
  width: 20px;
  translate: 0 -30px;
  border-radius: 5px;
  transition: 0.3s;
  /* transition: background-color 0.8s, scale 0.3s; */
  border: solid 2px white;
  background-color: white;
  /* box-shadow: 0px 0px 5px 3px rgb(197, 197, 197); */
  
}


.hovbtn div:hover, .hovbtnAlt div:hover{
  scale: 1300%;
  border: none;
  border-radius: 5px;
}

.hov1:hover{
  
  scale: 10;
	background-image: url(image/blackOnion.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	content: none;
  background-color: rgb(255, 255, 255);
}



.hov2:hover{
  
  scale: 10;
	background-image: url(image/salt.png);
	background-size:contain;
	background-position: center;
	background-repeat: no-repeat;
	content: none;
  background-color: rgb(255, 255, 255);
}

.hov3:hover{
  
  scale: 10;
	background-image: url(image/cook.png);
	background-size:contain;
	background-position: center;
	background-repeat: no-repeat;
	content: none;
  background-color: rgb(255, 255, 255);
}

.hov4:hover{
  
  scale: 10;
	background-image: url(image/cheese.png);
	background-size:contain;
	background-position: center;
	background-repeat: no-repeat;
	content: none;
  background-color: rgb(255, 255, 255);
}

.hov5:hover{
  
  scale: 10;
	background-image: url(image/oven.png);
	background-size:contain;
	background-position: center;
	background-repeat: no-repeat;
	content: none;
  background-color: rgb(255, 255, 255);
}

.hov6:hover{
  
  scale: 10;
	background-image: url(image/lasagna.png);
	background-size:contain;
	background-position: center;
	background-repeat: no-repeat;
	content: none;
  background-color: rgb(255, 255, 255);
}