@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    font-family: 'Bruno Ace SC', cursive;
    margin: 0;
    background: #000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.navbar{
  display: flex;
  flex-direction: row;
  position: fixed;
  overflow: hidden;
  top: 0;
  
  
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  background: black;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  margin-right: 10px;
  margin-top: 10px;
}
.btn-1, .btn-2, .btn-3, .btn-4 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(0, 0, 0);
}
.btn-1:hover, .btn-2:hover, .btn-3:hover, .btn-4:hover {
  color: #FFFFFF;
  background: transparent;
   box-shadow:none;
}
.btn-1:before, .btn-2:before, .btn-3:before, .btn-4:before,
.btn-1:after, .btn-2:after, .btn-3:after, .btn-4:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #FFFFFF;
  transition:400ms ease all;
}
.btn-1:after, .btn-2:after, .btn-3:after, .btn-4:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-1:hover:before, .btn-2:hover:before, .btn-3:hover:before, .btn-4:hover:before,
.btn-1:hover:after, .btn-2:hover:after, .btn-3:hover:after, .btn-4:hover:after{
  width:100%;
  transition:800ms ease all;
}


html {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2{
font-size: 30px;
    margin-top: 80px;
    text-align: center;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
   .img-container{
    width: 100%;
    height: 320px;
   }
  .card {
    box-shadow: 0 4px 8px 0 rgba(255, 254, 254, 0.411);
    margin: 8px;
  }

  .section-header{
    font-size: 60px;

  }
  
  .about-section {
    border: solid 5px white;
    padding: 30px 50px;
    border-radius: 999px;
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px;
    max-width: 800px;
    margin:auto;
    margin-top: 50px;
    transition: 0.4s;
    
  }
  .about-section:hover{
    background-color: white;
    color: black;
  }

  h1{
    font-size: 40px;
  }

  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    background-color:   white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: 0.4s;
  }
  
  .button:hover {
    background-color: black;
    color: white;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .footer {
    background: #FFFFFF;
    color: #333;
}
.footer-container {
   width: 800px;
    margin: auto;
    padding: 40px;
    translate: 70px;
    margin-top: 40px;
    
}
.social-icons img {
    max-height: 50px;
    max-height: 50px;
    margin-right: 80px;
    transition: all 0.2s;
    border-radius: 999px;
    overflow: hidden;
}
.instagram:hover{
    /* background-color: #C722CA; */
    border-radius: 999px;
}
.github:hover{
    /* background-color: #454141; */
    border-radius: 999px;
}
.youtube:hover{
    /* background-color: rgb(217, 28, 28); */
    border-radius: 999px;
}
.twitter:hover{
    /* background-color: rgb(18, 174, 226); */
    border-radius: 999px;
}
.facebook:hover{
    /* background-color: rgb(81, 81, 250); */
    border-radius: 999px;
}
.social-icons img:hover{
    scale: 150%;
}
footer{
    border-top: solid 2px gray;
    width: 100%;
    margin-top: 50px;
}
.copyright{
    translate: 0 100px;
    font-size: larger;
    font-weight: 900;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}